/*****CSS reset copied from Josh https://www.joshwcomeau.com/  *****/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
  
}

/* 3. Enable keyword animations - might not be neccessary for this site*/
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: var(--lh-normal);
  
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


/* 7. Inherit fonts for form controls might not be neccessary for this site*/
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}



/**** Space for variables****/
:root {
    /* padding */
    --block-padding: 1rem 0;
    --padding-s: 0.8rem;
    --padding-m: 1rem;
    --padding-l: 2rem; 


    /* line-heights */
    
    --lh-normal: 1.5;

    /* font family */
    --ff-main-heading: "Spicy Rice", serif;
    --ff-main: Arial, Helvetica, sans-serif;
    --ff-small: Georgia, 'Times New Roman', Times, serif;

    /* font size */
    --fs-main-heading: 3rem;
    --fs-small: 0.8rem;


    /* font weigth */
    --fw-main-heading: 400;
    --fw-small: 200;

}





/****Own CSS *****/ 


body{
    font-family:var(--ff-main);
    background-color:#bbda66;
}
  


/*****tried to put img in html to get alt text for accessibilty but failed..******/

.heropic{
    background-image: url("images/Screenshot_headImg.jpg");
    height: 17rem;
    background-size: cover;
}
/***** Added color and a specfic line height for the biggest heading, used em as line-height  ***/
.top-heading{
    font-family: var(--ff-main-heading);
    font-weight: var(--fw-main-heading);
    font-size: var(--fs-main-heading);
    
    padding: var(--block-padding);
    color: rgb(6, 69, 6);
    line-height: 1em;
 
}
/***can be used to put padding on h2,h3 should be smarter way to do this...**/

.headings{
    padding: var(--block-padding);

    
}

.container {
    max-width: 70%;
    margin: auto;
    background-color: white;
}

.main-content {
    padding: var(--padding-l);
   
}
.greybox {
    padding: var(--padding-m);
     background-color: lightgrey;
   
}
section{
    padding: var(--block-padding);
}
.ingredienser p{
 font-style: italic;
 font-family:var(--ff-small);
 font-size: var(--fs-small);
 font-weight: var(--fw-small) ;
 padding: var(--padding-s);
}


.pictures {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.pictures-item {
    margin: auto auto 2rem 0;

}

